---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout>
  <div class="container">
    <h1>👋 Hello!</h1>
    <p>
      I'm a creative problem solver. I love to learn new things and share my
      knowledge with others. I have a passion for technology, design, and
      writing.
    </p>
  </div>
</DefaultLayout>
