---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout>
  <section class="section">
    <div class="container">
      <h1 class="title">👋 Hello!</h1>
      <p class="subtitle">Welcome to my Blog and Hobbies Portfolio</p>
    </div>
  </section>
</DefaultLayout>
