---
import { Image } from "astro:assets";
import DefaultLayout from "../layouts/DefaultLayout.astro";
import headshotImage from "../assets/core/headshot.jpg";
---

<DefaultLayout>
  <section class="section">
    <div class="container">
      <div class="welcome is-flex is-flex-direction-row is-align-items-center">
        <figure class="image is-128x128 mr-4">
          <Image
            src={headshotImage}
            alt="Hao's profile picture"
            width={128}
            height={128}
            class="is-rounded"
          />
        </figure>
        <div>
          <h1 class="title is-4">Hello! My Name is Hao.</h1>
          <h2 class="subtitle is-5 mt-2">
            A Software Engineer building developer tools and user-friendly apps,
            for fun and for work.
          </h2>
        </div>
      </div>
      <div
        class="mt-4 is-flex is-flex-direction-column is-align-items-flex-start"
      >
        <p class="is-size-5">
          Over the years, I have built cloud-native apps and tools for various
          industries. Recently, I've explored the ins and outs of the GenAI
          Space, built RAG and agentic applications for enterprise companies,
          and tinkered with new features and patterns as they emerge.
        </p>
        <p class="is-size-5 mt-4">
          I love turning cutting-edge AI research into useful tools that solve
          real problems. On this site you'll find the open-source projects I've
          been created and contributed to, plus some of my personal hobbies and
          blog posts.
        </p>
        <p class="is-size-5 mt-4">
          If you want to swap ideas, collaborate on a project, or just say hi,
          feel free to reach out. I'm always happy to connect. You can get in
          touch with me via <a href="https://linkedin.com/in/haoluo12"
            >LinkedIn</a
          >. I'd love to hear from you!
        </p>
      </div>
    </div>
  </section>
</DefaultLayout>
