---
import { Icon } from "astro-icon/components";
const today = new Date();
---

<footer class="has-text-centered">
  &copy; {today.getFullYear()} Hao Luo. All rights reserved.
  <div>
    <a href="https://github.com/howlowck" target="_blank">
      <Icon name="github" />
    </a>
  </div>
</footer>
